body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Opcional: Para asegurar que el fondo sea blanco o gris suave */
  background-color: #f5f5f5; 
}

/* Esto ayuda a que las imágenes no rompan el layout si son muy grandes */
img {
  max-width: 100%;
}